.hand {
  height: 100%;
  aspect-ratio: 1;
  background-image: url("../../assets/up-facing-fist.png");
  background-size: cover;
  background-position: 200% 0;
  background-repeat: no-repeat;
  transition: opacity 0.1s ease-in-out;
}

.user__hand.hand--moving {
  animation: user-back-and-forth 0.5s ease-in infinite;
}

.oponent__hand {
  transform: rotate(-180deg);
}

.oponent__hand.hand--moving {
  animation: oponent-back-and-forth 0.5s ease-in infinite;
}

.loser {
  opacity: 0.7;
}

@keyframes user-back-and-forth {
  0%,
  100% {
    transform: translateY(0) scale(0.75);
  }

  70% {
    transform: translateY(30%);
  }
}

@keyframes oponent-back-and-forth {
  0%,
  100% {
    transform: rotate(-180deg) translateY(0) scale(0.75);
  }

  70% {
    transform: rotate(-180deg) translateY(30%);
  }
}
